<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>homepage.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>basic.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>basic.LogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param> 
   <description>Location to store uploaded file</description> 
   <param-name>file-upload</param-name> 
   <param-value>
      D:\#TheBloodDonationProject\img\
   </param-value> 
</context-param>
<error-page>
    <error-code>500</error-code>
    <location>/homepage.html</location>
</error-page>
</web-app>
